################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Scythe/bin/Debug
/Scythe/obj/Debug
/ScytheConsole/obj/Debug
/ScytheTest/obj/Debug
